* {
  margin: 0;
  box-sizing: border-box;
}

div {
  border: 1px solid;
  background-color: darkgrey;
  text-align: center;
  font-size: 30px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: lightblue;
  opacity: 0.5;
  height: 150px;
}

.left-menu, .main-content, .right-pane {
  height: 1000px;
}

.main-content {
  margin-top: 150px;
  background-color: lightgreen;
}


.left-menu{
  float: left;
  background-color: darkblue;
  width: 75px;
}

.right-pane{
  float: right;
  background-color: pink;
  width: 150px;
}
